<h1>Hello</h1>


<form class="js-create-post-form">
  <input type="text" class="js-create-post-form-title" value="">
  <input type="text" class="js-create-post-form-body" value="">
  <input type="submit" class="js-create-post-form-submit" value="Submit">
</form>
